body {
  position: relative;
  width: 1600px;
  height: 1880px;

  background: #ffffff;
  color: #000000;
  font-family: "Roboto", "Raleway", sans-serif;
}
/* Menu styles */
.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

a {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  list-style-type: none;
  line-height: 16px;
  letter-spacing: 0.02em;
}

a:hover, a:focus {
  color: #2196f3;
}

button {
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

button:focus, button:hover {
  color: #2196f3;
}

.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mail:hover, .mail:focus {
  color: #2196f3;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.tel:hover, .tel:focus {
  color: #2196f3;
}

.filter {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}
.filter:active {
  color: 2196f3;
}

.portfolio {
  list-style-type: none;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 16px;
}
